.username{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    background: #FFF;
}

.container{
    display: flex;
    width: 300px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.Login_text{
    font-family: "Wanted Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.F34{
    display: flex;
    padding: 24px 20px;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #000;
    background: #FFF;
}

.password{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    background: #FFF;
}
.username_text{
    color: #000;
    font-family: "Wanted Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.Input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
}
.Userinput{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 9px;
    align-self: stretch;
}
.password_text{
    color: #000;
    font-family: "Wanted Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.page_container{
    display: flex;
    width: 100vh;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #000;
}
.Button{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.Nickname{
    align-self: stretch;
    color: #000;
    font-family: "Wanted Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nickname{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    background: #FFF;
}
.signup_text{
    color: #000;
    font-family: "Wanted Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}